@import url("https://rsms.me/inter/inter.css");
html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}


/* Layout */
#root {
    display: grid;
    grid-template-areas:
        "nav content"
        "footer footer";
    grid-template-columns: 260px 1fr;
    grid-template-rows: 1fr auto;

    height: 100vh;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    border-right: 1px solid rgba(255, 255, 255, 0.15);
    padding: 20px 10px;
}

main {
    grid-area: content;
    margin: 10px;
}

footer {
    grid-area: footer;
}

